#one  {
	background-color: #e6cfa3;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 30px;
	border-style:solid;
	border-width:15px 5px 7px 15px;	
	border-color: yellow;}
#two  {
	background-color: #e6cfa3;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 30px;
	border-style:solid;
	border-width:15px 5px 7px 15px;	
	border-color: yellow;}
#three  {
	background-color: #e6cfa3;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 30px;
	border-style:solid;
	border-width:15px 5px 7px 15px;	
	border-color: yellow;}
#four  {
	background-color: #e6cfa3;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 30px;
	border-style:solid;
	border-width:15px 5px 7px 15px;	
	border-color: yellow;}